.portfolio-section,
.contact-section,
.resume-section,
.home-section,
.about-section,
.facts-section,
.skills-section {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100%;
}

.grid-container {
    grid-column: 2 / -1;
}

.home-section {
  background-image: url('src/assets/banner.jpg'); 
  background-size: cover; 
  background-attachment: fixed; 
  background-position: center; 
  height: 100vh; 
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.project-grid img {
    width: 100%;
    height: 100%;
}

.first-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
}

.about-section,
.skills-section,
.portfolio-section{
  background-color: #d8eefe;

}