.portfolio-section,
.contact-section,
.resume-section,
.home-section,
.about-section,
.facts-section,
.skills-section {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100%;
}

.grid-container {
    grid-column: 2 / -1;
}

.home-section {
  background-image: url('src/assets/banner.jpg'); 
  background-size: cover; 
  background-attachment: fixed; 
  background-position: center; 
  height: 100vh; 
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.project-grid img {
    width: 100%;
    height: 100%;
}

.first-page {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
}

.about-section,
.skills-section,
.portfolio-section{
  background-color: #d8eefe;
}

.title {
  position: relative;
  display: inline-block; /* Keeps the width to the content size */
  text-align: center; /* Aligns the text to the center */
  font-family: 'YourFontName', sans-serif; /* Replace with your font choice */
  margin: 0 auto; /* Centers the block itself if within a flex or grid container */
  padding-bottom: 5px; /* Gives space for the underline */
}

.title::after {
  content: '';
  position: absolute;
  bottom: 0; /* Adjust as needed, 0 to attach it directly under the text */
  left: 50%; /* Starts the line from the middle */
  transform: translateX(-50%); /* Centers the line */
  height: 2px; /* Thickness of the underline */
  width: 50%; /* Length of the underline */
  background-color: #007bff; /* Color of the underline */
}
