@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

.portfolio-section,
.contact-section,
.resume-section,
.home-section,
.about-section,
.facts-section,
.skills-section {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100%;
}

.grid-container {
    grid-column: 2 / -1;
}

.home-section {
  background-image: url('src/assets/banner.jpg'); 
  background-size: cover; 
  background-attachment: fixed; 
  background-position: center; 
  height: 100vh; 
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.project-grid img {
    width: 100%;
    height: 100%;
}

.first-page {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
}

.about-section,
.skills-section,
.portfolio-section{
  background-color: #d8eefe;
}

.title {
  position: relative;
  display: inline-block;
  text-align: center;
  font-family: 'YourFontName', sans-serif;
  margin: 0 auto;
  padding-bottom: 5px;
}

.title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 50%;
  background-color: #007bff;
}

.project-card {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease;
}

.project-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #ffffff;
  padding: 15px;
  transition: transform 0.3s ease;
  transform: translateY(100%);
  text-align: center;
}

.project-info h5,
.project-info p {
  margin: 10px 0;
}

.project-card-btns {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.project-card:hover .project-info {
  transform: translateY(0);
}

.facts {
  padding-bottom: 30px;
}

.facts .count-box {
  padding: 30px;
  width: 100%;
}

.facts .count-box i {
  display: block;
  font-size: 44px;
  color: #149ddd;
  float: left;
  line-height: 0;
}

.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
}

.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #122f57;
}

.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #122f57;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.facts .count-box a:hover {
  color: #1f5297;
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #149ddd;
}